<!DOCTYPE html>
<html>

<head>
  <title>
    About Us
  </title>
  <%- include('header') %>
  <link rel='stylesheet' href='/stylesheets/aboutus.css' />
</head>
<body>
  <%- include('menu') %>
  <h1 style="color:#4ba9c8;font-size:40px;">
    <center>Our Project</center>
  </h1>
  <h3>
      <center>The DC Detective is an all-in-one platform that aims to compile the stream of new policies and ideas that
      constantly flows from our nation’s capital.</center>
  </h3>
  <h3>
    <center> We give a comprehensive and unbiased look at recent executive orders and bills. These are turbulent times
      where politics is at the heart of our issues around the country.</center>
  </h3>
  <h3>
    <center> Especially in the information era, it is surprising that citizens do not have a place to learn what nation-changing 
      policies the president is enacting. Instead of relying on the media to present only what they deem exciting, it is important 
      for citizens to be able to access easy to understand information easily. </center>
  </h3>
  <h3>
    <center>The DC Detective aims to rectify this problem, giving a straightforward, no malarkey solution by providing
      information directly from lawmakers to you.</center>
  </h3>
  </table>
  <div class="row">
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="Reid Dye"
          style="width:100%">
        <h2>
          <center>Reid Dye</center>
        </h2>
        <h4> Student </h4>
        <p> Reid works in robotics and enjoys swimming, tinkering with random things, and creating sizable and usually intentional explosions in his backyard. </p>
        <!-- can add an email/discord link here -->
        <p> GitHub: <a href=https://github.com/reid23 target=_blank>reid23</a> </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.discordapp.com/attachments/809567901254156308/810426743386144808/image0.jpg alt="Andy Li" 
          style="width:100%;">
        <h2>
          <center>Andy Li</center>
        </h2>
        <h4> Student </h4>
        <p> Andy is a student who loves to cook, code, and camp. In his free time, he likes to chill online with his friends and listen to music. </p>
        <p> Discord: il.ydna#6179 </p>
        <p> GitHub: <a href=https://github.com/il-ydna target=_blank>il-ydna</a></p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.discordapp.com/attachments/809567901254156308/810425934104100864/IMG_1620.jpeg alt="Ethan Liang"
          style="width:100%;">
        <h2>
          <center>Ethan Liang</center>
        </h2>
        <h4> Student </h4>
        <p> Ethan loves robots and, more generally, working with software. In his free time, he enjoys playing piano. </p>
        <p> Discord: n0tjxygsgs#8987 </p>
        <p> Github: <a href=https://github.com/e3l target=_blank>e3l</a></p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.discordapp.com/attachments/809567901254156308/810426710495199232/IMG_1194_-_Copy.JPG alt="Michael Zhang"
          style="width:100%">
        <h2>
          <center>Michael Zhang</center>
        </h2>
        <h4> Student </h4>
        <p> Michael is a high schooler who enjoys reading, writing, and playing video games. He sometimes plays tennis or the piano. </p>
        <p> Discord: Sunny#7891 </p>
        <p> GitHub: <a href=https://github.com/MushroomYolo target=_blank>MushroomYolo</a> </p>
      </div>
    </div>
  </div>
</body>
</html>