<!DOCTYPE html>
<html>

<head>
  <title>
    About Us
  </title>
</head>

<style>

    body {
        margin: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
    .column{
        float: left;
        width: 25.0%;
        margin-bottom: 15px;
        padding: 15px;
    }
    .slide{
        background-color: white;
        box-shadow: 0 4px 8px 0 black;
        margin: 10px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f96e67;
    }
    li{
        float: left;
        border-right: 4px solid black;
        box-sizing: border-box;
    }
    li:last-child{
        border-right: none;
        border-left: 4px solid black;
    }
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 20px 30px;
      text-decoration: none;
}


</style>

<body bgcolor=#add8e6 link=black vlink=black>
    <ul>
        <li><a href="/"><h1>DC Detectives</h1></a></li>
        <li><a href="/"><h1>Executive</h1></a></li>
        <li><a href="/"><h1>Legislative</h1></a></li>
        <li style="float:right"><a href="aboutus"><h1>About Us</h1></a></li>
    </ul>
      <div class="row">
        <div class="column">
          <div class="slide">
            <img src =https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1" style="width:100%">
              <h2> <center>Person Name</center></h2>
              <h4> Occupation (Student)</h4>
              <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
              <p> contact information (if you want to put it) </p>
            </div>
          </div>
          <div class="column">
            <div class="slide">
              <img src =https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1" style="width:100%">
                <h2><center>Person Name</center></h2>
                <h4> Occupation (Student)</h4>
                <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
                <p> contact information (if you want to put it) </p>
              </div>
            </div>
        <div class="column">
            <div class="slide">
              <img src =https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1" style="width:100%">
                <h2><center>Person Name</center></h2>
                <h4> Occupation (Student)</h4>
                <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
                <p> contact information (if you want to put it) </p>
              </div>
            </div> 
        <div class="column">
            <div class="slide">
             <img src =https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1" style="width:100%">
                <h2><center>Person Name</center></h2>
                <h4> Occupation (Student)</h4>
                <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
                <p> contact information (if you want to put it) </p>
             </div>
            </div>              
        </div>
    </body>
</html>
    