<!DOCTYPE html>
<html>

<head>
  <title>
    About Us
  </title>
  <link rel='stylesheet' href='/stylesheets/aboutus.css' />
</head>
<body bgcolor=#e9e9e9 link=black vlink=black style="margin:0;padding:0">
  <!-- this <ul> part is the menubar, requires a body of margin:0 to work. Might conflict with style.css -->
  <ul>
    <li><a href="/">
        <h3>DC Detectives</h3>
      </a></li>
    <li><a href="/">
        <h3>Executive</h3>
      </a></li>
    <li><a href="/">
        <h3>Legislative</h3>
      </a></li>
    <li style="float:right"><a href="aboutus">
        <h3>About Us</h3>
      </a></li>
  </ul>
  <h1 style="color:#4ba9c8;font-size:40px;">
    <center>Our Project</center>
  </h1>
  <h3>
      <center>The DC Detective is an all-in-one platform that aims to compile the stream of new policies and ideas that
      constantly flows from our nation’s capital.</center>
  </h3>
  <h3>
    <center> We give a comprehensive and unbiased look at recent executive orders and bills. These are turbulent times
      where politics is at the heart of our issues around the country.</center>
  </h3>
  <h3>
    <center> Everywhere you go online you see mentions of “fake news” and misinformation, with seemingly no place to
      find the facts. </center>
  </h3>
  <h3>
    <center>The DC Detective aims to rectify this problem, giving a straightforward, no malarkey solution by providing
      information directly from lawmakers to you.</center>
  </h3>
  </table>
  <div class="row">
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Person Name</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
        <p> contact information (if you want to put it) </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Person Name</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
        <p> contact information (if you want to put it) </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Person Name</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
        <p> contact information (if you want to put it) </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Person Name</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
        <p> contact information (if you want to put it) </p>
      </div>
    </div>
  </div>
</body>
</html>