<!DOCTYPE html>
<html>

<head>
  <title>
    About Us
  </title>
  <%- include('header') %>
  <link rel='stylesheet' href='/stylesheets/aboutus.css' />
</head>
<body>
  <%- include('menu') %>
  <h1 style="color:#4ba9c8;font-size:40px;">
    <center>Our Project</center>
  </h1>
  <h3>
      <center>The DC Detective is an all-in-one platform that aims to compile the stream of new policies and ideas that
      constantly flows from our nation’s capital.</center>
  </h3>
  <h3>
    <center> We give a comprehensive and unbiased look at recent executive orders and bills. These are turbulent times
      where politics is at the heart of our issues around the country.</center>
  </h3>
  <h3>
    <center> Everywhere you go online you see mentions of “fake news” and misinformation, with seemingly no place to
      find the facts. </center>
  </h3>
  <h3>
    <center>The DC Detective aims to rectify this problem, giving a straightforward, no malarkey solution by providing
      information directly from lawmakers to you.</center>
  </h3>
  </table>
  <div class="row">
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Person Name</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> PERSON is a ___ who loves ____. In their free time, ___ likes to ____. </p>
        <p> contact information (if you want to put it) </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="Andy's Picture"
          style="width:100%">
        <h2>
          <center>Andy Li</center>
        </h2>
        <h4> Student </h4>
        <p> Andy Li is a student who loves to cook, code, and camp. In his free time, he likes to chill online with his friends and listen to music. </p>
        <p> Email: jhouandy456@gmail.com </p>
        <p> Github: <a href=https://github.com/il-ydna target=_blank>il-ydna</a></p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.pixabay.com/photo/2017/03/05/21/55/emoticon-2120024_640.png alt="PERSON 1"
          style="width:100%">
        <h2>
          <center>Ethan Liang</center>
        </h2>
        <h4> Occupation (Student)</h4>
        <p> Ethan loves robots and, more generally, working with software. In his free time, he enjoys playing piano. </p>
        <p> Github: https://github.com/e3l </p>
        <p> Discord: n0tjxygsgs#8987 </p>
      </div>
    </div>
    <div class="column">
      <div class="slide">
        <img src=https://cdn.shopify.com/s/files/1/1061/1924/products/Smiling_Emoji_with_Eyes_Opened_1024x1024.png?v=1571606036 alt="Michael Zhang"
          style="width:100%">
        <h2>
          <center>Michael Zhang</center>
        </h2>
        <h4> Student </h4>
        <p> Michael is a high schooler who enjoys reading, writing, and playing video games. He sometimes plays tennis or the piano. </p>
        <p> Email: mz32389@pausd.us </p>
        <p> GitHub: <a href=https://github.com/MushroomYolo target=_blank>MushroomYolo</a> </p>
      </div>
    </div>
  </div>
</body>
</html>