<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <%- include('header') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
  <link rel='stylesheet' href='stylesheets/index.css'></style>
  <script type='module'>
    import latestOrders from './javascripts/latestOrders.js';
    import execSchedulePreview from './javascripts/execSchedulePreview.js';

    latestOrders();
    execSchedulePreview();
  </script>
</head>

<body>
  <%- include('menu') %>
  <div id="schedulePreview">
    Loading...
  </div>
  <div id="latestOrders">
    Loading...
  </div>

</body>

</html>