<div id='menu'>
    <div><a href="/">
            <h3>DC Detectives</h3>
        </a></div>
    <!-- <div><a href="/">
            <h3>Executive</h3>
        </a></div>
    <div><a href="/">
            <h3>Legislative</h3>
        </a></div> -->
    <div style="float:right"><a href="/aboutus">
            <h3>About Us</h3>
        </a></div>
</div>