<!DOCTYPE html>
<html>

<head>
  <title>
    "Order # " <%= orderNum %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type='module' src='javascripts/latestOrders.js'></script>
</head>

<body>

</body>

</html>