html {
  box-sizing: border-box;
}

h3 {
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  overflow: hidden;
  display: flex;
}

.column {
  float: left;
  width: 24.99%;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.column img {
  height: 300px;
  width: auto;
}

.slide {
  background-color: white;
  box-shadow: 0 2px 3px 1px black;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  height: 100%;
}