body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

b:hover{
  color: blue;
}

#orderPageStuff > div > h2 {
  font-size: small;
  margin: auto;
  padding: 20px;
  background-color: lightgrey;
}

#latestOrders > div {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto 10px auto;
}

#latestOrders > div > h2 {
  font-size: medium;
  margin: 0;
}

#schedulePreview {
  background-color: lightgrey;
  padding: 25px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

#schedulePreview > div {
  border: 2px solid grey;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto 10px auto;
}

#schedulePreview > div > h2 {
  font-size: medium;
  margin: 0;
}

#schedulePreview > div > p {
  margin: 0;
}
/* CSS of the navigation code is found below  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff6f75;
  border-bottom: 1px solid black;
}

li {
  float: left;
  border-right: 2px solid black;
  box-sizing: border-box;
}

li:last-child {
  border-right: none;
  border-left: 2px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}