body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
  color: rgb(46, 46, 46);
}

a {
  color: #00B7FF;
}

b:hover{
  color: blue;
}

#orderPageStuff > div > h2 {
  font-size: small;
  margin: auto;
  padding: 20px;
  background-color: lightgrey;
}

#latestOrders > div {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto 10px auto;
}

#latestOrders > div > h2 {
  font-size: medium;
  margin: 0;
}

#schedulePreview {
  background-color: lightgrey;
  padding: 25px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

#schedulePreview > div {
  border: 2px solid grey;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto 10px auto;
}

#schedulePreview > div > h2 {
  font-size: medium;
  margin: 0;
}

#schedulePreview > div > p {
  margin: 0;
}

/* CSS of the menu bar */
#menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffa1a4;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

#menu div {
  float: left;
  border-right: 1px solid rgb(126, 126, 126);
  height: 100%;
  width: 150px;
}

#menu div:first-child {
  border-left: none;
  width: 250px;
}

#menu div:first-child h3 {
  border-left: none;
  text-align: left;
  margin-left: 30px;
  font-size: 24px;
}

#menu div:last-child {
  border-right: none;
  border-left: 1px solid rgb(126, 126, 126);
}

#menu div a {
  color: black;
  text-align: center;
  margin: auto;
  text-decoration: none;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

#menu div a h3 {
  margin: 0;
  width: inherit;
  text-align: center;
  color: rgb(49, 49, 49);
}