body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#latestOrders > div {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 10px 0px 10px 0px;
}

#latestOrders > div > h2 {
  font-size: medium;
  margin: 0;
}